 <!-- Footer -->

 <link rel="stylesheet" href="https://balcomedicalcentre.com/package/css/style-main.css">

 <script async defer src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script>

 <footer id="footer" class="footer pb-0 bg-black-111">

     <div class="container pb-10">

         <div class="row multi-row-clearfix">

             <div class="col-sm-8 col-md-4">

                 <div class="widget dark">

                     <img alt="Balco Medical Centre" src="https://balcomedicalcentre.com/package/images/balco_logo-white.png">

                     <p class="font-12 mt-20 mb-10 text-justify">VMRF is a non-profit organisation initiated by Vedanta Resources and Bharat Aluminium Co. Ltd. (BALCO) to contribute to the prevention of cancer and its related illnesses through a Centre of Excellence in medical, surgical and radiation oncology. </p>

                     <a class="text-gray font-12" href="https://balcomedicalcentre.com/about"><i class="fa fa-angle-double-right text-theme-colored"></i>Read more</a>



                 </div>

             </div>





             <div class="col-sm-8 col-md-3">

                 <div class="widget dark">

                     <h5 class="widget-title line-bottom mb-30">Pages</h5>

                     <ul class="list-border list theme-colored angle-double-right">

                         <li>

                             <a href="#">Home</a>

                         </li>

                         <li>

                             <a href="#">About Us</a>

                         </li>

                         <li>

                             <a href="#">Specialities</a>

                         </li>

                         <li>

                             <a href="#">Facilities</a>

                         </li>

                         <li>

                             <a href="#">Doctors</a>

                         </li>

                         <li>

                             <a href="#">Events</a>

                         </li>



                         <li>

                             <a href="#">Career</a>

                         </li>

                         <li>

                             <a href="#">Recruitment Disclaimer</a>

                         </li>



                     </ul>

                 </div>

             </div>



             <div class="col-sm-8 col-md-3">

                 <div class="widget dark">

                     <h5 class="widget-title line-bottom mb-30">Quick Links</h5>

                     <ul class="list-border list theme-colored angle-double-right">

                         <li>

                             <a href="#">Appointment</a>

                         </li>

                         <li>

                             <a href="#">Contact Us</a>

                         </li>

                         <li>

                             <a target="_blank" href="https://www.vedantaresources.com">Vedanta Resources</a>

                         </li>

                         <li>

                             <a href="#">BMC Compliances</a>

                         </li>





                         <li>

                             <a href="https://balcomedicalcentre.com/privacy-policy">Privacy Policy</a>

                         </li>

                         <li>

                             <a href="#">Terms and Conditions</a>

                         </li>

                     </ul>

                 </div>

             </div>







             <div class="col-sm-6 col-md-2">

                 <div class="widget dark">

                     <h5 class="widget-title line-bottom mb-30">Quick location</h5>

                 </div>

                 <ul   class="text-center">

                     <li>

                         <a target="_blank" href="#">

                             <img src="https://balcomedicalcentre.com/package/images/1024px-Map_ballonicon2.svg.png" alt="Balco Medical Center Map" class="" />

                         </a>

                         <br>

                         <a target="_blank" href="#" class="text-justify">Vedanta Medical Research Foundation, Sector 36, Atal

                         Nagar  , PO: Upparwara, Raipur-493661</a>

                     </li>

                 </ul>

             </div>

         </div>
     </div>
     <div class="footer-nav bg-green ">
         <div class="row text-center m-0">
             <div class="col-md-12">
                 <p class="text-white font-11 m-0 m-10">Copyright ©2018 Balco Medical Centre</p>
             </div>
         </div>
     </div>
 </footer>
 <!--
 <div id="bottom-quick-links">
     <a href="#" class="hvr-glow btn btn-warning btn-circled btn-sm"  data-toggle="modal" data-target="#modal_contact_us_form"><i class="fa fa-phone" aria-hidden="true"></i> Request a Call Back</a> &nbsp;<a href="https://balcomedicalcentre.com/appointment" class="hvr-glow btn btn-warning btn-circled btn-sm" id="sticky-appointment-btn"><i class="fa fa-calendar" aria-hidden="true"></i> Request an Appointment</a>
 </div>
 -->
 <div class="modal fade" id="modal_contact_us_form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="border-1px p-25">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
           <h4 class="text-theme-colored text-uppercase m-0">Request a Call Back</h4>
           <div class="line-bottom"></div>
             <form action="https://balcomedicalcentre.com/" method="post" id="modal_contact_form" accept-charset="utf-8">
 <input type="hidden" name="csrf_token" value="76b7f5830dae4767682342cc3824c415" />
                 <div class="row">
                     <div class="col-sm-12">
                         <div  id="contact_modal_alert"></div>
                     </div>
                     <div class="col-sm-6">
                         <div class="form-group mb-5">
                             <label for="Name">
                                 Name <small class="text-danger">*</small>
                             </label>
                             <input  type="text" placeholder="Enter Name" name="Name" id="Contact_Name" class="form-control" required />
                         </div>
                     </div>
                     <div class="col-sm-6">
                         <div class="form-group mb-5">
                             <label for="Phone">
                                 Phone <small class="text-danger">*</small>
                             </label>

                             <input type="number" name="Phone" id="Contact_Phone"  pattern="[789][0-9]{9}" minlength="10" maxlength="10" placeholder="Enter 10 Digits Mobile Number" required="" class="form-control">
                         </div>
                     </div>
                     <div class="col-sm-12">
                         <div class="form-group mb-5">
                             <label for="email">
                                 Email
                             </label>
                             <input type="email" name="Email" id="Contact_Email" placeholder="Enter Email" class="form-control" />
                         </div>
                     </div>

                     <div class="col-sm-12">
                         <div class="form-group mb-5">
                             <label for="form_name">
                                 Message <small class="text-danger">*</small>
                             </label>
                             <textarea  name="Message"  id="Contact_Message" placeholder="Enter Message" Class="form-control" required></textarea>
                         </div>
                     </div>
                     <div class="col-sm-6">
                         <label>
                                 Verify Google Captcha <small class="text-danger">*</small>
                             </label>
                         <div id="g_recaptcha_id_contact_modal"></div>
                     </div>
                 </div>
                 <div class="form-group mb-5">
                     <button type="button"  class="btn btn-block btn-dark btn-theme-colored btn-sm mt-10 pt-10 pb-10" id="contact_modal_btn" name="Submit" onclick="validateModalContactUsForm(this)">SUBMIT</button>
                 </div>
             </form>        </div>
       </div>
     </div>
 </div>
 <!--
 <a href="https://balcomedicalcentre.com/appointment" id="float-tele-consultation">
     <img id="tele-message" src="https://balcomedicalcentre.com/package/images/tele-message.png" alt="Tele Consultation">
     <img id="tele-consultation" class="hvr-buzz-out" src="https://balcomedicalcentre.com/package/images/tele-consultation.png" alt="Tele Consultation">
 </a>
 -->
 <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>

 <script type="text/javascript">
     $(document).ready(function() {
         $("form").attr('autocomplete', 'off');
         $(document).on('click change focus', ':input', function(){
             $(this).attr('autocomplete', 'off' );
         });

         $('#tele-consultation').mouseenter(function(){
             $('#tele-message').fadeIn(500);
         });
         $('#tele-consultation').mouseleave(function(){
             $('#tele-message').fadeOut(500);
         });
     });

     var g_recaptcha_id_contact_modal;
     var onloadCallback = function() {
         g_recaptcha_id_contact_modal = grecaptcha.render('g_recaptcha_id_contact_modal', {
             'sitekey' : "6Ld95OEUAAAAANMrLQqybwVxWpxSlG0wUHJHwCxl"
         });
     }



     $('.form-control').on('keyup keypress change onclick', function(e) {
         $(this).css('border', '1px solid #ddd');
     });

     function validateModalContactUsForm(thisVal)
     {
         var Name = $("#Contact_Name").val();
         var Phone = $("#Contact_Phone").val();
         var Email = $("#Contact_Email").val();
         var Message = $("#Contact_Message").val();

         $("#Contact_Name").css('border', '1px solid #ddd');
         $("#Contact_Phone").css('border', '1px solid #ddd');
         $("#Contact_Email").css('border', '1px solid #ddd');
         $("#Contact_Message").css('border', '1px solid #ddd');

         $("#contact_modal_alert").removeClass("alert alert-success alert-danger");

         if(Name.trim() == '' || Name == ''){
             $("#Contact_Name").css('border', '1px solid #de1713').focus()
         } else if(!Phone.match(/^([56789][0-9]{9})$/)){
             $("#Contact_Phone").css('border', '1px solid #de1713').focus()
         } else if(!Email.match(/^$|^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)) {
             $("#Contact_Email").css('border', '1px solid #de1713').focus()
           } else if(Message.trim() == '' || Message == ''){
             $("#Contact_Message").css('border', '1px solid #de1713').focus()
         } else {
             $('#contact_modal_btn').prop('disabled',true);
             $.ajax({
                 type: "POST",
                 url: "https://balcomedicalcentre.com/home/contact_modal_add",
                 data: $("#modal_contact_form").serialize(),
                 dataType: "json",
                 success: function(res){
                     if(res.Status){
                         $("#contact_modal_alert").addClass("alert alert-success").html(res.Message)
                         $("#modal_contact_form").trigger("reset")
                         $('#contact_modal_btn').prop('disabled',false);
                     } else {
                         $("#contact_modal_alert").addClass("alert alert-danger").html(res.Message)
                         $('#contact_modal_btn').prop('disabled',false);
                     }
                     grecaptcha.reset(g_recaptcha_id_contact_modal);
                 },
                 error: function() {
                     $('#contact_modal_btn').prop('disabled',false);
                     grecaptcha.reset(g_recaptcha_id_contact_modal);
                 }
             });
         }
     }
 </script>

 <!-- JSON-LD markup generated by Google Structured Data Markup Helper. -->
 <script type="application/ld+json">
 {
   "@context" : "http://schema.org",
   "@type" : "LocalBusiness",
   "name" : "BALCO Medical Centre",
   "image" : "https://balcomedicalcentre.com/package/images/balco_logo.png",
   "telephone" : "0771-2237575",
   "email" : "info.vmrf@vedanta.co.in",
   "address" : {
     "@type" : "PostalAddress",
     "streetAddress" : "Sector 36, Atal Nagar , PO: Upparwara",
     "addressLocality" : "Raipur",
     "postalCode" : "493661"
   },
   "url" : "https://balcomedicalcentre.com/"
 }
 </script>
