.navbar{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  background-image: linear-gradient(135deg, transparent 28px, rgb(144, 184, 66) 20px);
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom:auto;
}

.nav{
  align-self: center;

  a{
    color:white;
    text-decoration: none;
  }
}
